// Boostrap overrides
$font-size-base: 1.2rem;

$primary: #3093ff;
// $primary-darken: darken($primary, 10%);
// $theme-colors: (
// 	"primary-darken": $primary-darken
// );
$body-bg: #1d1d1d;
//$light: #00eeff; // May want to make text slightly darker to reduce constrast

// $link-visited-color: darken($primary, 20%);

$navbar-dark-color: rgba(#ffffff, 0.8);
$navbar-dark-hover-color: rgba(#ffffff, 1);

// a:visited {
// 	color: $link-visited-color;
// }

body {
	min-height: 100vh;
}

footer {
	background-color: #202020;
}


@import "~bootstrap/scss/bootstrap"